.btn-blue {
  background: linear-gradient(180deg, #70B1E0 -46.42%, #3D79BD 100%);
  border: none;
  border-radius: 20px;
  height: 40px;
  @include typo($white, $medium, 16px);
  padding: 0 25px;
  &.btn-pulse {
    box-shadow: 0 0 0 rgba($blue, 0.4);
    animation: pulse 2s infinite;
    &:hover {
      animation: none;
    }
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba($blue, 0.4);
      }
      70% {
          -webkit-box-shadow: 0 0 0 10px rgba($blue, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba($blue, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba($blue, 0.4);
        box-shadow: 0 0 0 0 rgba($blue, 0.4);
      }
      70% {
          -moz-box-shadow: 0 0 0 10px rgba($blue, 0);
          box-shadow: 0 0 0 10px rgba($blue, 0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 rgba($blue, 0);
          box-shadow: 0 0 0 0 rgba($blue, 0);
      }
    }
  }
}

.btn-sticky {
  border: none;
  width: 100%;
  height: 45px;
  background-color: $blue;
  @include typo($white, $semibold, 16px);
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  &_top {
    @extend .btn-sticky;
    top: 54px;
  }
  &_bottom {
    @extend .btn-sticky;
    bottom: 10px;
    top: 64px;
  }
}
