// Paleta cromática
$white: #FFFFFF;
$black: #4A4A4A;
$grey: #727272;
$grey_light: #EAEAEA;
$blue: #3D79BD;
$green: #95A653;
$rose: #D65E5B;

// Pesos fuentes

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;
$light: 300;