footer(class=hubspot)
  .footer
    .footer-contacto
      .row.no-gutters
        .col-6.col-md-4
          .contacto-box
            img.hide-sm(src="./assets/icons/icon_telefono-white.svg", alt="icono telefono")
            h4 CONTÁCTANOS
            h5 800 835 220
          .contacto-box.hide-sm
            img(src="./assets/icons/icon_whatsapp-white.svg", alt="icono whatsapp")
            h4 WHATSAPP
            h5 +569 1234 5678
        .col-6.col-md-4
          .contacto-box
            img(src="./assets/icons/icon_compartir.svg", alt="icono siguenos").hide-sm
            h4 SÍGUENOS
            .contacto-box_iconos
              img(src="./assets/icons/icon_facebook.svg", alt="facebook")
              img(src="./assets/icons/icon_twitter.svg", alt="twitter")
              img(src="./assets/icons/icon_linkedin.svg", alt="linkedin")
        .col-md-4.hide-sm
          .footer-search
            include input-search
    .footer-links
      img(src="./assets/icons/icon_economia.svg", alt="Regulados por el Ministerio de Economía").hide-md.hide-lg
      ul
        li Inicio
        li Nosotros
        li Créditos
        li Ahorros
        li Beneficios
        li Noticias
        li Contáctanos
      h6 Casa Matriz Financoop · Moneda 1137, Santiago de Chile
    .footer-logos
      .row.no-gutters
        .col-md-6.hide-sm
          img(src="./assets/icons/icon_economia.svg", alt="Regulados por el Ministerio de Economía")
        .col-12.col-md-6.logo_financoop
          img(src="./assets/icons/logo_financoop-white.svg", alt="Financoop")